{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block content %}
<h1>About Discourse</h1>
<p>
    Discourse is a pioneering blog forum committed to safeguarding user privacy and data integrity. Founded on the
    principle of putting users first, Discourse takes a staunch stance against the common practice of selling user data
    to third parties for profit. With a strong emphasis on transparency and ethical data handling, Discourse provides a
    secure platform for individuals to engage in meaningful discussions without compromising their privacy. By
    prioritizing user trust and confidentiality, Discourse cultivates a vibrant online community where individuals can
    freely express themselves without fear of exploitation or intrusion.</p>
{% endblock content %}